
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Playfair+Display:wght@700&family=Libre+Baskerville:wght@400&display=swap');

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --vanilla: hsla(51, 55%, 82%, 1);
    --black-olive: hsla(72, 5%, 21%, 1);
    --forest-green: hsla(101, 48%, 37%, 1);
    --alloy-orange: hsla(30, 96%, 38%, 1);
    --red-ncs: hsla(347, 100%, 36%, 1);

    --color-accent: var(--alloy-orange);
    --color-accent-content: var(--red-ncs);
    --color-accent-foreground: var(--vanilla);
}



@layer theme {
    .dark {
      --vanilla: hsla(51, 55%, 82%, 1);
      --black-olive: hsla(72, 5%, 21%, 1);
      --forest-green: hsla(101, 48%, 37%, 1);
      --alloy-orange: hsla(30, 96%, 38%, 1);
      --red-ncs: hsla(347, 100%, 36%, 1);
  
      --color-accent: var(--alloy-orange);
      --color-accent-content: var(--red-ncs);
      --color-accent-foreground: var(--vanilla);
    }
  }
  

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field] {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

/* Apply focus styles globally to all input, textarea, and select elements */
input:focus,
textarea:focus,
select:focus {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* Optional: Add focus styles for elements with [data-flux-control] if needed */
input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}
/* Adjust Carousel Images */
.hero-carousel img {
    @apply w-full h-screen object-cover transition-opacity duration-1000;
}

/* Google Fonts Import */


/* Font Styling */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    /* font-weight: 700; */
}

h2, h3, h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.navbar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
}

body, p {
    font-family: Arial, Helvetica, sans-serif; /* Default system serif (Georgia, Times New Roman) */
    font-weight: normal;
}
